html {
  background: blanchedalmond;
}

h1 {
  font-family: "Futura", sans-serif;
  font-weight: 96px;
}

h2 {
  font-family: "Helvetica", serif;
  font-weight: 42px;
}

img {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.flashy {
  color: red;
  font-style: italic;
}
